input {
  padding: 5px;
  width: 250px;
  font-size: 13.4pt;
  border: none;
  outline: none;
  border-bottom: 2px solid rgba(255, 136, 0, 0.849);
  border-radius: 2px;
}

div.mainApp {
  padding: 10px;

}

.children {
  border: 1px solid white;
  padding: 5px;
  margin: 5px;
}

.children span {
  margin-left: 15px;
}

.children select {
  padding: 3px;
  font-size: 12pt;
  border: none;
  outline: none;
  border-radius: 1px;
  background:rgb(219, 125, 16);
}
